<app-loading *ngIf="loading  "></app-loading>




<div class="alert alert-danger animated fadeIn" *ngIf="error">
    <h3>Error!</h3>
    <p>
        {{mensajeError}}
    </p>

</div>


<app-tarjetas [items]="nuevasCanciones"></app-tarjetas>












<!-- ANTES ERAAAAAAAAAAAAAAAA -->
<!-- <div class="card-columns">



    <div *ngFor='let cancion of nuevasCanciones' class="card">
        <img [src]="cancion.images | noimage" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{cancion.name}}</h5>
            <p class="card-text">
                <span *ngFor='let artista of cancion.artists' class="badge badge-success"> {{artista.name}}</span>
            </p>
        </div>
    </div>



</div> -->