<div class="row animated fadeIn">

    <div class="col">

        <input #termino type="text" class="form-control" placeholder="Buscar Artista..." (keyup)='buscar(termino.value)'>

    </div>

</div>

<app-loading *ngIf="loading"></app-loading>

<app-tarjetas *ngIf="!loading" [items]="artistas"></app-tarjetas>

<!-- 
<div class="card-columns m-5">



    <div *ngFor='let artista of artistas' class="card">
        <img [src]="artista.images | noimage" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{artista.name}}</h5>

        </div>
    </div>



</div> -->